[run]
omit =
    fabfile.py
    nativecards/wsgi.py
    */apps.py
    manage.py

[report]
exclude_lines =
    pragma: no cover

    def __repr__
    def __str__
    if DEBUG

    raise AssertionError
    raise NotImplementedError

    if 0:
    if __name__ == .__main__.:

ignore_errors = True