pudb==2019.2
ipdb==0.12.3
pytest==5.3.4
pytest-env==0.6.2
pytest-codestyle==2.0.0
pycodestyle==2.5.0
pytest-django==3.8.0
pytest-forked==1.1.3
pytest-mock==2.0.0
pytest-cache==1.0
pytest-cov==2.8.1
pytest-flakes==4.0.0
pytest-mypy==0.4.2
pytest-xdist==1.31.0
yapf==0.29.0
tox==3.14.3
twine==3.1.1
virtualfish==1.0.6
jedi==0.15.2
isort==4.3.21
pyflakes==2.1.1
coverage==5.0.3
virtualenv==16.7.9
virtualenv-clone==0.3.0
flake8==3.7.9
coveralls==1.10.0
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
pytest-pylint==0.14.0
ipython==7.10.2
tox==3.14.3

