DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'nativecards',
        'USER': 'nativecards',
        'PASSWORD': 'nativecards',
        'HOST': '127.0.0.1',
        'PORT': '5432'
    }
}

EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp.example.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'admin'
EMAIL_HOST_PASSWORD = 'password'
DEFAULT_FROM_EMAIL = 'nativecards.group <admin@example.ru>'
SERVER_EMAIL = 'nativecards.group <admin@example.ru>'

ADMINS = (('nativecards.group', 'admin@example.com'), )
MANAGERS = ADMINS

SECRET_KEY = 'my_super_secret_key'
ALLOWED_HOSTS = ['127.0.0.1', 'localhost']
DEBUG = True

CELERY_LOGLEVEL = 'debug'
BROKER_URL = 'redis://localhost:6379'
CELERY_RESULT_BACKEND = 'redis://localhost:6379'

# Django-cors
CORS_ORIGIN_ALLOW_ALL = True

# Nativecards
NC_PIXABAY_KEY = 'pixabay key'
NC_OXFORD_ID = 'oxford id'
NC_OXFORD_KEY = 'oxford key'